<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <recommendationexp>
            <settings>
                <export>1</export>
                <productid>0</productid>
            </settings>
        </recommendationexp>
    </default>
</config>